img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

video {
  object-fit: cover;
  width: 40%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}



 @font-face {
    font-family: hanae;
    src: url("../hanae/MrsEavesPetiteCaps.woff2");
}

@font-face {
   font-family: hanae_ital;
   src: url("../hanae_ital/MrsEaves-Italic.woff2");
}


@font-face {
   font-family: hanae_humble;
   src: url("../humble/Humble.woff2");
}

.hero-container > h1 {
  color: rgb(0, 0, 0);
  font-size: 100px;
  margin-top: 400px;
  font-family: 'hanae_humble', sans-serif;
  text-align:center;
}
.hero-container > h1 span{
  color: rgb(0, 0, 0);
  margin-bottom: 90px;
  font-family: 'hanae_humble', sans-serif;
  display: inline-block;
  text-align:center;
}

.hero-container > h2 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-top: -50px;
  font-family: 'hanae' /* 'MrsEavesAllSmallCapsOT'; /*'Humble', sans-serif;*/
}

.hero-container > p {
  margin-top: 0px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: 500px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
